<div class="container-fluid" id="contactus">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <img src="https://html.creativegigstf.com/sinco/images/shape/shape_38.svg" alt="img1"
        class="img-fluid left_side_img">
        <div class="d-flex align-items-center justify-content-between banner_section w-100">
          <div class="d-flex flex-column align-items-center w-100">
            <h2>Get in Touch</h2>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact us</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="https://img.freepik.com/free-photo/robot-with-phone_1048-4566.jpg?t=st=1714111909~exp=1714115509~hmac=bc020e98fde8c7c265d2d3e8afb62b95419f2db5949442dc53702da81764915e&" alt="" class="img-fluid float-contact-img ">

      </div>
    </div>

  </div>
</div>
<section>
  <div class="contact_info_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-body">
          <div class="d-flex flex-column align-items-center gap-3 text-center">
            <div class="location d-flex align-items-center justify-content-center ">
              <img src="	https://html.creativegigstf.com/sinco/images/icon/icon_17.svg" alt="">
            </div>
            <h4>Our Address</h4>
            <p>
              1012 East Street Camp,Pune <br> Maharashtra,India
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body">
          <div class="d-flex flex-column align-items-center gap-3 text-center">
            <div class="contact_number d-flex align-items-center justify-content-center ">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_18.svg" alt="">
            </div>
            <h4>Contact Info</h4>
            <p>
              Open a chat or give us call at
              <a href="">310.841.5500</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body">
          <div class="d-flex flex-column align-items-center gap-3 text-center">
            <div class="live_support d-flex align-items-center justify-content-center ">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_19.svg" alt="">
            </div>
            <h4>Our Address</h4>
            <p class="mb-0">live chat service
              <a href="">www.charlielivesupport.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="contact_form">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7567.181730860797!2d73.85862513704672!3d18.502182554672956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c014271918c5%3A0xfa3ce63f0c494d3f!2sSwargate%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1713526864315!5m2!1sen!2sin"
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Send Message</h2>
      <form>
        <div class="row gx-4 gy-4">
          <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label">Buisness Mail</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Industry</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-sm-6">
            <select class="form-select" aria-label="Default select example">
              <option selected>Customer Category</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-sm-12">
            <label for="exampleInputEmail1" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="col-sm-12">
            <label for="floatingTextarea">How may we help you ?</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          </div>
        </div>
        <div class="text-start my-3">
          <button type="submit" class="btn-main rounded">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
</section>

