<div class="container-fluid">
  <div class="d-flex flex-column align-items-center gap-4 text-center banner_section">
    <div class="banner_title">
      <!-- AI and Machine <span>Learning</span> <br> Products Creators -->
      <div> Transform Peripheral </div>
      <div>CCTV Footage Into</div>
      <span>Actionable Sights</span>
    </div>
    <div class="banner_sub_title">
      Enhance Customer Experience, Ensure Safety, And Improve Operational <br> Efficiency With CHARLIE, The Best Video
      Analytica Software.
    </div>
    <div class="action_links d-flex gap-4">
      <button class="btn-main"> Book a Free Demo</button>
      <button class="vidoe_btn border-0 bg-transparent">
        <i class="fa-solid fa-play"></i>
        Watch Product Video
      </button>
    </div>
    <div class="top_animation_img">
      <img src="https://bariton-react.envytheme.com/images/home-six/banner/shape-1.png" alt="" class="img-fluid">
    </div>
    <div class="left_side_img">
      <img src="https://bariton-react.envytheme.com/images/home-six/banner/main1.png" alt="" class="img-fluid">
    </div>
    <div class="right_side_img">
      <img src="https://bariton-react.envytheme.com/images/home-six/banner/main2.png" alt="" class="img-fluid">
    </div>
  </div>
</div>
<section class="worked_sectors">
  <div class="container" id="worked_sectors">

    <div class="row justify-content-between text-center my-4">
      <div class="col-sm-auto">
        <div class="d-flex flex-column">
          <h1 class="">METRO</h1>
          <p class="text-white">Retail</p>
        </div>
      </div>
      <div class="col-sm-auto">
        <div class="d-flex flex-column">
          <h1 class="">JKCement</h1>
          <p class="text-white">Manufacturing</p>
        </div>
      </div>
      <div class="col-sm-auto">
        <div class="d-flex flex-column">
          <h1 class="">TFS</h1>
          <p class="text-white">Hospitality</p>
        </div>
      </div>
      <div class="col-sm-auto">
        <div class="d-flex flex-column">
          <h1 class="">Wework</h1>
          <p class="text-white">Infrastructure</p>
        </div>
      </div>
      <div class="col-sm-auto">
        <div class="d-flex flex-column">
          <h1 class="">METRO</h1>
          <p class="text-white">Public Sector</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="staq_at_glance" id="staq_at_glance">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="d-flex flex-column gap-2">
          <div class="d-flex flex-column gap-0">
            <h2 class="mb-0">STAQ</h2>
            <h2 class=" mb-0">AT A </h2>
            <h2 class=" highlighted_text mb-0">GLANCE</h2>
          </div>
          <p class="text-muted">Fueled With Artificial Intelligence, Patented Technologies And Unique Capabilities,</p>
          <p class="text-muted">CHARLIE Offers Innovation For Security And The Best Possible Solution For Business.</p>
          <button class="btn-main">Get Started Free</button>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body h-100">
          <div class="d-flex flex-column align-items-center gap-2">
            <div class="staq_at_glance_logo">
              <img src="https://bariton-react.envytheme.com/images/home-six/featured/icon1.png" alt=""
                class="img-fluid">
            </div>
            <div class="solutions_title">100+</div>
            <p>Clients Served</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body h-100">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="https://bariton-react.envytheme.com/images/home-six/featured/icon2.png" alt="" class="img-fluid">
            <div class="solutions_title">25K+</div>
            <p>Cameras With Video Analytics</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body h-100">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="https://bariton-react.envytheme.com/images/home-six/featured/icon3.png" alt="" class="img-fluid">
            <div class="solutions_title">5M+</div>
            <p>Real Time Alerts Are Processed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="what_is_charlie" id="what_is_charlie">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="https://bariton-react.envytheme.com/images/home-six/about.png" alt="" class="img-fluid h-100">
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-2">
          <h2 class="mb-0 learning_provider_title">What Is <span class="highlighted_text"> Charlie?</span></h2>
          <div class="what_is_charlie_subtitle">
            <p class="mb-2">
              Charlie Is An Audio And Video Analytics Software As Well As An Audio- Video Management Technology Platform
              That Has Changed The Way People Think About Security Cameras. Charlie Helps Transform Long CCTV Video
              Footage Into Meaningful Information. The Video Analytics Software Enables Us To Provide Short And Crisp
              Real-Time Alerts That Are Actionable.
            </p>
            <p class="mb-2">
              Fueled With Artificial Intelligence, Computer Vision, Deep Learning, Patented Technologies, And Unique
              Capabilities, Charlie Offers Innovation For Growth And Security, Making AIkernel Technologies The Best
              Intelligent Video Technology Solution Company.
            </p>
          </div>
          <!-- <ul class="list-unstyled">
            <li>
              <div class="d-flex gap-2">
                <i class="fa-solid fa-check"></i>
                <span>The Most Personalized Object Detection</span>
              </div>
            </li>
            <li>
              <div class="d-flex gap-2">
                <i class="fa-solid fa-check"></i>
                We Create The Most Realistic AI
              </div>
            </li>
            <li>
              <div class="d-flex gap-2">
                <i class="fa-solid fa-check"></i>
                Innovative Machine Learning Products
              </div>
            </li>
          </ul> -->
          <button class="btn-main-outline">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="leveraging_charlie" id="leveraging_charlie">
  <div class="container">
    <div class="d-flex flex-column align-items-center title">
      <h2>Industries Leveraging <span class="highlighted_text">Charlie</span></h2>
      <h2>Video Analytics Software</h2>
    </div>
    <div class="row gy-5 gx-5">
      <div class="col-sm-4">
        <div class="card  border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon1.png" alt=""
                class="img-fluid">
              <h5 class="leveraging_charlie_card_title">Retail</h5>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. <br> Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="card  border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon2.png" alt=""
                class="img-fluid data_analytics">
              <h5 class="leveraging_charlie_card_title">Manufacturing</h5>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card  border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon3.png" alt=""
                class="img-fluid security_surveillance">
              <h5 class="leveraging_charlie_card_title">Infrastructure</h5>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card  border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="https://bariton-react.envytheme.com/images/home-six/services/icon4.png" alt=""
                class="img-fluid health_manufacturing">
              <h5 class="leveraging_charlie_card_title">Hospitality</h5>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card  border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="	https://bariton-react.envytheme.com/images/home-six/services/icon5.png" alt=""
                class="img-fluid robotic_automation">
              <h5 class="leveraging_charlie_card_title">Public Sector</h5>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card  border-0 ">
          <div class="card-body">
            <div class="d-flex flex-column gap-3">
              <img src="	https://bariton-react.envytheme.com/images/home-six/services/icon5.png" alt=""
                class="img-fluid robotic_automation">
              <h5 class="leveraging_charlie_card_title">Smart Cities</h5>
              <p>
                Explore CHARLIE Retail Analytics Software To Enable Seamless Integration Of Video Analytics For Retail
                Stores Into Your Existing Infrastructure. Know About Your Retail Store’s Unique Visitor Count,
                Demography Analytics, And More And Elevate Your Brick- And-Mortar With Video Analytics Software.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="charlie_platform" id="charlie_platform">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="d-flex flex-column title_section">
          <h2><span class="highlighted_text">Charlie</span> Platform</h2>
          <p>
            Charlie provides a user-friendly dashboard that will help <br> you monitor critical incidents and to take
            actions on
          </p>
        </div>
        <div class="row gx-3 gy-4">
          <div class="col-sm-6">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0  bg-transparent">
                <div class="d-flex gap-3">
                  <div class="flex-shrink-0">
                    <img src="https://bariton-react.envytheme.com/images/home-six/computer-vision/icon1.png" alt="logo">
                  </div>
                  <h6 class="flex-grow-1 mb-0">MULTILE REAL TIME ALERTS </h6>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Get instant alerts on violations to detect, verify and act on critical events.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0  bg-transparent">
                <div class="d-flex gap-3">
                  <div class="flex-shrink-0">
                    <img src="	https://bariton-react.envytheme.com/images/home-six/computer-vision/icon2.png"
                      alt="logo">
                  </div>
                  <h6 class="flex-grow-1 mb-0">LIVE FEEDS </h6>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  Access libve feeds of your cameras anytime, anywhere.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0  bg-transparent">
                <div class="d-flex gap-3">
                  <div class="flex-shrink-0">
                    <img src="	https://bariton-react.envytheme.com/images/home-six/computer-vision/icon3.png"
                      alt="logo">
                  </div>
                  <h6 class="flex-grow-1 mb-0">TICKET MANAGEMENT SYSTEM</h6>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  A simple ticketing system with predefined escalation matrix to resolve compliance violations and
                  reduce operational bottlenecks.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0  bg-transparent">
                <div class="d-flex gap-3">
                  <div class="flex-shrink-0">
                    <img src="	https://bariton-react.envytheme.com/images/home-six/computer-vision/icon3.png"
                      alt="logo">
                  </div>
                  <h6 class="flex-grow-1 mb-0">TICKET MANAGEMENT SYSTEM</h6>
                </div>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  A simple ticketing system with predefined escalation matrix to resolve compliance violations and
                  reduce operational bottlenecks.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-main">Get Started Now</div>
      </div>
      <div class="col-sm-6">
        <img src="https://bariton-react.envytheme.com/images/home-six/computer-vision/computer-vision-ai.png" alt=""
          class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="awards_accolades" id="awards_accolades">
  <div class="container">
    <div class="text-center">
      <h2>Awards & Accolades</h2>
      <p>
        Our Products Have received accolades from some of the greatest <br> Industry Leaders. This encourages us to keep
        moving
        forward with <br> the same energy and motivation.
      </p>
    </div>
    <div class="row justify-content-center gy-4 gx-4">
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card card-body border-0 shadow">
          <div class="d-flex flex-column align-items-center gap-2">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/home/award.png" alt="" class="img-fluid">
            <div class="text-center award_title">
              <div>FICCI Smart Policing Award UP</div>
              <div>Prison Department for the Year 2021</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="media" id="media">
  <div class="container">
    <div class="text-center mb-5">
      <h2>Explore <span class="highlighted_text">Media</span> Section</h2>
      <p>Read About The Latest Press Releases And Media Events Of AIkernel Published</p>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow p-0">
          <div class="media_img">
            <img src="	https://bariton-react.envytheme.com/images/home-six/blog/blog1.jpg" alt="" class="img-fluid">
          </div>
          <div class="d-flex flex-column gap-2 media_data">
            <div class="media_title">Technology</div>
            <div class="subtitle">
              <div class="media_subtitle px-2 py-2">
                <span>Media Events Of AIkernel Published In Times Of India (TOI), Economic Times(ET), CNBC, Mint.</span>
                 <!-- <span>Or Famine Of Freelancing</span> -->
              </div>
              <div class="d-flex justify-content-between media_response_info px-2">
                <p>By Thomas Kelbin</p>
                <p>17th January</p>
                <p>0 Comment</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow p-0">
          <div class="media_img">
            <img src="	https://bariton-react.envytheme.com/images/home-six/blog/blog2.jpg" alt="" class="img-fluid">
          </div>
          <div class="d-flex flex-column gap-2 media_data">
            <div class="media_title">Technology</div>
            <div class="subtitle">
              <div class="media_subtitle px-2 py-2">
                <span>Also Have A Glance At Staqu’s Innovations, Collaboration With Global Players</span>
                 <!-- <span>Or Famine Of Freelancing</span> -->
              </div>
              <div class="d-flex justify-content-between media_response_info px-2">
                <p>By Thomas Kelbin</p>
                <p>17th January</p>
                <p>0 Comment</p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-body border-0 shadow p-0">
          <div class="media_img">
            <img src="https://bariton-react.envytheme.com/images/home-six/blog/blog3.jpg" alt="" class="img-fluid">
          </div>
          <div class="d-flex flex-column gap-2 media_data">
            <div class="media_title">Technology</div>
            <div class="subtitle">
              <div class="media_subtitle px-2 py-2">
                <span>Explore Our News Section For Insightful Articles, Impactful Resources.</span>
                 <!-- <span>Or Famine Of Freelancing</span> -->
              </div>
              <div class="d-flex justify-content-between media_response_info px-2">
                <p>By Thomas Kelbin</p>
                <p>17th January</p>
                <p>0 Comment</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
