<div class="container-fluid p-0">
  <div class="topbar">
    <div class="d-flex align-items-center justify-content-between">
      <div class="left_side_content">
        <div class="welcome_text">
          <span> Welcome to Ai Kernel. Need Help ?</span>
          <a href="">Contact Us</a>
        </div>
      </div>
      <div class="right_side_content">
        <div class="d-flex gap-2">
          <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <span>275 Victoria Street, India</span>
          </div>
          <div class="phone_call">
            <i class="fa-solid fa-phone"></i>
            <span>+91 875 154756</span>
          </div>
          <div class="mail">
            <i class="fa-solid fa-envelope"></i>
            <span>275 Victoria Street, India</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
