.topbar {
  padding: 10px 20px;
  font-size: 0.85rem;
}

.topbar .left_side_content a {
  border-bottom: 1px solid #ff4800;
  color: #ff4800;
  text-decoration: none;
}
.topbar .left_side_content a:hover{
  color: lightgreen;
  border-bottom: 1px solid lightgreen;
}
.topbar .left_side_content a:hover,
.topbar .right_side_content span:hover{
  color: lightgreen;
  transition: 1s all;
}

.topbar .left_side_content span,
.topbar .right_side_content span {
  color: #000000ad;
  font-weight: 500;
  padding: 0px 5px;
}

.topbar .right_side_content .location,
.topbar .right_side_content .phone_call {
  border-right: 4px solid #e4e7fb !important;
  padding: 0px 5px;
}

.topbar .right_side_content .fa-solid {
  color: #ff4800;
}

.header{
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: red;
}

@media only screen and (max-width: 479px){
  .topbar{
    display: none;
  }
}
