<div class="container-fluid" id="manufacture_banner">
  <div class="container">
    <div class="row align-items-center gy-5">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="d-flex flex-column">
          <h2 class="title">Artificial Intelligence For <span
              class="text-main text-decoration-underline">Manufacturing</span></h2>
          <p>Unify your operational processes by integrating Artificial Intelligence
            for Manufacturing resulting in smart, cost-effective functioning of your
            manufacturing plants.
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="right_side_img position-relative">
          <img src="https://html.creativegigstf.com/sinco/images/assets/ils_12_1.svg" alt=""
            class="img-fluid square_shape_img">
          <img src="https://html.creativegigstf.com/sinco/images/assets/ils_12_1.svg" alt=""
            class="img-fluid square_shape_img2">
          <img
            src="https://img.freepik.com/premium-photo/man-is-standing-front-tablet-with-word-business-it_745528-12300.jpg?w=740"
            alt="" class="img-fluid software_img">
        </div>
      </div>
    </div>
  </div>
</div>
<section class="ai_in_manufacturing">
  <div class="container">
    <h2 class="text-center title my-5 py-4">Key Features for AI in <span
        class="text-main text-decoration-underline">Manufacturing</span></h2>
    <div class="row gy-5">
      <div class="col-sm-4">
        <div class="card p-0 border-0 ">
          <div class="card-header border-0 p-0 overflow-hidden">
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            <img
              src="https://img.freepik.com/premium-vector/man-standing-front-sign-that-saysthe-companyon-it_617764-326.jpg?w=740"
              alt="" class="img-fluid">
          </div>
          <div class="card-body">

            <h6 class="title">Unique Visitor Count</h6>
            <p>
              Gain qualitative insights such as the number of visitors on an hourly, daily, or monthly basis and get new
              sales opportunities. Figure out the best days to drive traffic through targeted marketing efforts.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-0 border-0 ">
          <div class="card-header border-0 p-0 overflow-hidden">
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            <img
              src="https://img.freepik.com/premium-photo/vector-corporate-gender-distribution-statistics_837074-5196.jpg?w=740"
              alt="" class="img-fluid">
          </div>
          <div class="card-body">

            <h6 class="title">Demographic Analytics</h6>
            <p>
              Develop an understanding of the gender & age of your audience using statistical analysis that will help in
              shaping marketing strategies. Identify which regions, days, and months of the year see the highest growth
              based on the gender & age of your customers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-0 border-0 ">
          <div class="card-header border-0 p-0 overflow-hidden">
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            <img
              src="https://img.freepik.com/premium-vector/business-analytics-concept-business-finance-marketing-analytics_253334-2125.jpg?w=740"
              alt="" class="img-fluid">
          </div>
          <div class="card-body">

            <h6 class="title">Occupancy Visualization</h6>
            <p>
              Detect the warmest place in real-time for store traffic and identify which spot of the premises is/isn’t
              going well with the visitors. Also, identify the occupancy of your retail store’s subsections to enhance
              staff productivity and customer experience.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why_charlie_retail">
  <div class="container">
    <div class="text-center my-5">
      <h2 class="title">Why use Charlie for Artificial Intelligence for<span
          class="text-main text-decoration-underline">Manufacturing</span></h2>
    </div>
    <div class="row gy-4 my-4 py-4">
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-header border-0">
            <div class="d-flex flex-column gap-3">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
              <h6 class="title">BOOST CONVERSION</h6>
            </div>
          </div>
          <div class="card-body">
            <p>
              Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
              back. Our expertise in artificial intelligence and big data will help you analyze your customer journey -
              in real-time - and make decisions that lead to better conversion and lower costs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-header border-0">
            <div class="d-flex flex-column gap-3">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
              <h6 class="title">ELEVATE YOUR BRICK-AND-MORTAR</h6>
            </div>
          </div>
          <div class="card-body">
            <p>
              Personalized shopping experiences drive engagement, increase sales, and ultimately, keep customers coming
              back. Our expertise in artificial intelligence and big data will help you analyze your customer journey -
              in real-time - and make decisions that lead to better conversion and lower costs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-header border-0">
            <div class="d-flex flex-column gap-3">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
              <h6 class="title">USE AI TO IMPROVE TRANSPARENCY</h6>
            </div>

          </div>
          <div class="card-body">
            <p>
              Get user access in different formats to gain control over the transparent flow of data within the
              organization. Retail stores with multiple locations can leverage the use of AI video analytics to filter
              any discrepancies in the operational or management process.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-header border-0">
            <div class="d-flex flex-column gap-3">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
              <h6 class="title">UTILIZE YOUR DATA EFFECTIVELY</h6>
            </div>

          </div>
          <div class="card-body">
            <p>
              Get user access in different formats to gain control over the transparent flow of data within the
              organization. Retail stores with multiple locations can leverage the use of AI video analytics to filter
              any discrepancies in the operational or management process.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-header border-0">
            <div class="d-flex flex-column gap-3">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
              <h6 class="title">PRIORITIZE LOSS PREVENTION</h6>
            </div>

          </div>
          <div class="card-body">
            <p>
              Get user access in different formats to gain control over the transparent flow of data within the
              organization. Retail stores with multiple locations can leverage the use of AI video analytics to filter
              any discrepancies in the operational or management process.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 ">
          <div class="card-header border-0">
            <div class="d-flex flex-column gap-3">
              <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
              <h6 class="title">DETERMINE AND MANAGE THE DEMAND</h6>
            </div>

          </div>
          <div class="card-body">
            <p>
              Get user access in different formats to gain control over the transparent flow of data within the
              organization. Retail stores with multiple locations can leverage the use of AI video analytics to filter
              any discrepancies in the operational or management process.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="impact_of_AI">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="impact_of_AI_title">Impact of Artificial Intelligence for <br> <span
            class="text-main text-decoration-underline">Manufacturing</span></div>
        <ol class="list-unstyled">
          <li>
            <div class="card card-body border-0 ">
              <div class="row align-items-lg-center gap-4">
                <div class="col-3 col-sm-2 counter">1</div>
                <div class="col-9 col-sm content">Streamline SOPs and improve production line efficiency by up to 45%.</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card card-body border-0 ">
              <div class="row align-items-lg-center gap-4">
                <div class="col-3 col-sm-2 counter">2</div>
                <div class="col-9 col-sm content">Ensure adherence to safety compliances with real-time alerting mechanism,
                  hence reducing auditing costs by up to 17%</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card card-body border-0 ">
              <div class="row align-items-lg-center gap-4">
                <div class="col-3 col-sm-2 counter">3</div>
                <div class="col-9 col-sm content">Loss prevention through theft, pilferage, etc., by up to 40%.</div>
              </div>
            </div>
          </li>
          <li>
            <div class="card card-body border-0 ">
              <div class="row align-items-lg-center gap-4">
                <div class="col-3 col-sm-2 counter">4</div>
                <div class="col-9 col-sm content">Track vehicular movements using Automatic Number Plate Recognition (ANPR)
                  and generate data metrics like Vehicle Turnaround Time, Parking Analysis, etc.</div>
              </div>
            </div>
          </li>


        </ol>
      </div>
      <div class="col-sm-6">
        <img
          src="https://img.freepik.com/premium-vector/engineer-hand-using-tablet-heavy-automation-robot-arm-machine-smart-factory-artificial-intelligence-industry-4th-iot-concept_126283-2050.jpg?"
          alt="" class="img-fluid w-100 ">
      </div>
    </div>
  </div>
</section>

<section class="clients">
  <div class="container">
    <div class="words_from_clients_title text-center">Words from <span class="text-main text-decoration-underline">Client</span></div>
    <div class="text-center">
      <img src="https://html.creativegigstf.com/sinco/images/icon/icon_34.svg" alt="" class="quotation_mark_img">
      <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="top_left_img">
    </div>
    <div id="carouselExampleIndicators" class="carousel carousel-fade">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="text-center clients_feedback">
            <div class="d-lg-flex align-items-center gap-2">
              <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid left_side_img">
              <div class="card card-body border-0">
                <p>
                  Having a home based business is a wonderful asset to your life. The problem still stands it comes
                  timeadvertise your business for a cheap cost. I know you have looked answer everywhere.
                </p>
              </div>
              <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid right_side_img">
            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="text-center clients_feedback">
            <div class="d-lg-flex align-items-center gap-2">
              <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid left_side_img">
             <div class="card card-body border-0">
              <p>
                Having a home based business is a wonderful asset to your life. The problem still stands it comes
                timeadvertise your business for a cheap cost. I know you have looked answer everywhere.
              </p>
             </div>
              <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid right_side_img">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>



<section class="success_stories">
  <div class="container">
    <h2 class="text-center title my-4 py-4">SUCCESS STORIES</h2>
    <div class="row gy-5">
      <div class="col-sm-4">
        <div class="card border-0 p-0 overflow-hidden">
          <div class="card-header border-0 p-0 overflow-hidden">
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            <img
              src="https://img.freepik.com/free-photo/japanese-subway-system-passenger-information-display-screen_23-2148954894.jpg?t=st=1714368628~exp=1714372228~hmac=ee7300185f777eb03be50299a2d1d94c49e6919ba20c85b2704a6d264423e158&"
              alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <div class="d-flex flex-column">
              <div class="card_title">Metro Brands</div>
              <p>
                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your
                Business With The Latest Artificial Intelligence Developments.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 p-0 overflow-hidden">
          <div class="card-header border-0 p-0 overflow-hidden">
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            <img
              src="https://img.freepik.com/free-photo/japanese-subway-system-passenger-information-display-screen_23-2148954894.jpg?t=st=1714368628~exp=1714372228~hmac=ee7300185f777eb03be50299a2d1d94c49e6919ba20c85b2704a6d264423e158&"
              alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <div class="d-flex flex-column">
              <div class="card_title">JK Cements</div>
              <p>
                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your
                Business With The Latest Artificial Intelligence Developments.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 p-0 overflow-hidden">
          <div class="card-header border-0 p-0 overflow-hidden">
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
            <img
              src="https://img.freepik.com/free-photo/japanese-subway-system-passenger-information-display-screen_23-2148954894.jpg?t=st=1714368628~exp=1714372228~hmac=ee7300185f777eb03be50299a2d1d94c49e6919ba20c85b2704a6d264423e158&"
              alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <div class="d-flex flex-column">
              <div class="card_title">JK Cements</div>
              <p>
                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your
                Business With The Latest Artificial Intelligence Developments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
