<div class="container-fluid" id="career_banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="d-flex flex-column align-items-start justify-content-center h-100 ">
          <div class="title"> Shaping The Future Of AI</div>
          <div class="subtitle">Come Join Us ! </div>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="https://bariton-react.envytheme.com/images/home-six/banner/shape-1.png" alt="" class="img-fluid rotate-top-img">
        <img src="https://bariton-react.envytheme.com/images/banner-image.png" alt="publication image right-side-img"
          class="img-fluid position-relative">
        <img src="	https://bariton-react.envytheme.com/images/shape/shape5.svg" alt="" class="img-fluid cross-img">
      </div>
    </div>
  </div>
</div>
<section class="employee_benefits">
  <div class="container">
    <div class="text-center">
      <div class="title my-5">Employee <span class="text-main text-decoration-underline">Benefits</span></div>
    </div>
    <div class="row gy-3 gx-0">
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent border_line">
          <div class="d-flex flex-column align-items-center justify-content-center gap-3 ">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/About-us/wellness-benefit.svg" alt=""
              class="img-fluid">
            <span>wellness Benefit</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent border_line">
          <div class="d-flex flex-column align-items-center justify-content-center gap-3 ">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/About-us/competitive-compensation.svg" alt=""
              class="img-fluid">
            <span>wellness Benefit</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent border_line">
          <div class="d-flex flex-column align-items-center justify-content-center gap-3 ">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/About-us/free-meals-snacks.svg" alt=""
              class="img-fluid">
            <span>wellness Benefit</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent border_line">
          <div class="d-flex flex-column align-items-center justify-content-center gap-3 ">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/About-us/fun-offsites.svg" alt=""
              class="img-fluid">
            <span>wellness Benefit</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent border_line">
          <div class="d-flex flex-column align-items-center justify-content-center gap-3 ">
            <img src="	https://aikernel.shauryatechnosoft.com/assets/images/About-us/referral-bonus.svg" alt=""
              class="img-fluid">
            <span>wellness Benefit</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent border_line">
          <div class="d-flex flex-column align-items-center justify-content-center gap-3 ">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/About-us/open-door-policy.svg" alt=""
              class="img-fluid">
            <span>wellness Benefit</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="open_positions">
  <div class="container">
    <div class="text-center">
      <div class="title">Explore <span class="text-main text-decoration-underline">Open Positions</span></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div class="position_title my-4">Customer Success Manager</div>
            <ul class="list-unstyled">
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-bag-shopping"></i>
                  <span>Experience : 1-2 Years</span>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-location-dot"></i>
                  <span>Location : Pune</span>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <span>Job Type: Buisness</span>
                </div>
              </li>
            </ul>
          </div>
          <button class="btn-main rounded">Apply Now</button>
          <div class="shape-one"><i class="fa-solid fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div class="position_title my-4">Business Development Manager</div>
            <ul class="list-unstyled">
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-bag-shopping"></i>
                  <span>Experience : 1-2 Years</span>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-location-dot"></i>
                  <span>Location : Pune</span>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <span>Job Type: Buisness</span>
                </div>
              </li>
            </ul>
          </div>
          <button class="btn-main rounded">Apply Now</button>
          <div class="shape-one"><i class="fa-solid fa-arrow-right"></i></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <div class="position_title my-4">Software Developer (Backend)</div>
            <ul class="list-unstyled">
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-bag-shopping"></i>
                  <span>Experience : 1-2 Years</span>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-location-dot"></i>
                  <span>Location : Pune</span>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center gap-3">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <span>Job Type: Buisness</span>
                </div>
              </li>
            </ul>
          </div>
          <button class="btn-main rounded">Apply Now</button>
          <div class="shape-one"><i class="fa-solid fa-arrow-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
