<section class="what_is_charlie_banner_section">
  <div class="container h-100">
    <div class="row align-items-center h-lg-100">
      <div class="col-sm-7 order-2 order-lg-0">
        <div class="banner_text">
          <div class="banner_title mb-4">AI Kernel in preventing the spread of <span
              class="text-main text-decoration-underline">Covid - 19</span>.</div>
          <span class="banner_subtitle py-4">Ensured continuous running of operations <br> during Covid-19</span>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="banner_img">
          <img src="https://html.creativegigstf.com/sinco/images/blog/blog_img_01.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="covid_solutions">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <img src="https://html.creativegigstf.com/sinco/images/assets/ils_14.svg" alt="" class="img-fluid">

      </div>
      <div class="col-sm-6">
        <span class="top_title">Explore AI Kernel</span>
        <div class="covid_solutions_title">
          <span class="text-main text-decoration-underline px-2">COVID-19</span>Solutions
        </div>
        <p>
          From preventing incidents by monitoring live feeds to assist investigations by going through recordings for
          video evidence, video analytics has always been a vital component in providing security and maintaining public
          safety.
        </p>
        <p>
          To help businesses resuming normal operations, CHARLIE’s AI-powered video analytics solutions have
          introduced capabilities like face mask detection, adherence to social distance standards, ensuring workplace
          safety, and temperature monitoring to combat the Covid-19.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="use_cases">
  <div class="container">
    <div class="use_case_title">Use Cases</div>
    <div class="row gy-4">
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent h-100">
          <div class="card-header">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/explore_charlie/Facemask-Detection.png"
              alt="" class="img-fluid">
          </div>
          <div class="card-body border-0 bg-transparent">
            <div class="d-flex flex-column gap-2">
              <div class="card_title">Facemask Detection</div>
              <div class="description">
                <p>
                  CHARLIE's AI-powered system analyses CCTV video feeds in real-time to detect face mask with high
                  accuracy. The solution is intended to aid in the creation of a safe working environment and the
                  reporting of any infraction.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <button class="btn-main">Watch Video</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent h-100">
          <div class="card-header">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/explore_charlie/Facemask-Detection.png"
              alt="" class="img-fluid">
          </div>
          <div class="card-body border-0 bg-transparent">
            <div class="d-flex flex-column gap-2">
              <div class="card_title">Social Distancing Monitoring</div>
              <div class="description">
                <p>
                  CHARLIE's AI-powered system analyses CCTV video feeds in real-time to detect face mask with high
                  accuracy. The solution is intended to aid in the creation of a safe working environment and the
                  reporting of any infraction.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <button class="btn-main">Watch Video</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-0 bg-transparent h-100">
          <div class="card-header">
            <img
              src="	https://aikernel.shauryatechnosoft.com/assets/images/explore_charlie/Cleaning-Mopping-Detection.png"
              alt="" class="img-fluid">
          </div>
          <div class="card-body border-0 bg-transparent">
            <div class="d-flex flex-column gap-2">
              <div class="card_title">Cleaning & Mopping Detection</div>
              <div class="description">
                <p>
                  CHARLIE's AI-based solution ensures that hygiene and cleanliness levels in the premises are
                  maintained. Get real-time alerts to measure and monitor the cleanliness levels of the workplace
                  hygiene, SOPs using cleaning/mopping detection.
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-0">
            <button class="btn-main">Watch Video</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="insights">
  <div class="container">
    <div class="row align-items-center gy-2">
      <div class="col-sm-6">
        <img src="https://www.clicdata.com/wp-content/uploads/2021/06/transfrom-data-actionable-insights.jpg" alt=""
          class="img-fluid">
      </div>
      <div class="col-sm-6">
        <div class="title">Insights</div>
        <div class="insights_points">
          <ul class="list-unstyled">
            <li>
              <div class="d-flex align-items-start gap-3">
                <i class="fa-solid fa-check mt-1"></i>
                <span>Immediate action on Hygiene SOP adherence hence prevent loss due to Covid outspread.</span>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-start gap-3">
                <i class="fa-solid fa-check mt-1"></i>
                <span> Track the past movements of a Covid positive individual across multiple cameras for contact
                  tracing.</span>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-start gap-3">
                <i class="fa-solid fa-check mt-1"></i>
                <span> Use CCTV Thermal Cameras to detect the internal temperature of the individuals walking in.</span>
              </div>
            </li>
          </ul>
        </div>
        <button class="btn-main rounded float-end float-lg-none">More About Us</button>
      </div>
    </div>
  </div>
</section>
<section class="staq_newsletter">
  <div class="container">
    <div class="row gy-4">
      <div class="col-sm-6">
        <div class="newsletter_title">Sign Up For <span class="text-main text-decoration-underline">Staqu</span>
          Newsletter</div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-4">
          <div class="d-flex gap-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <button class="btn-main rounded">Subscribe</button>
          </div>
          <div class="d-flex align-items-start gap-2">
            <input type="checkbox" class="mt-1">
            <p class="mb-0">
              We're committed to your privacy. Staqu uses the information you provide to us to contact you
              about our relevant content, products, and services. You may unsubscribe from these
              communications at any time. For more information, check out our Privacy Policy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
