<div class="container-fluid" id="publications_banner">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="d-flex flex-column align-items-start justify-content-center h-100 ">
          <div class="title"> Publications</div>
          <div class="subtitle">Insights To Staqu's Publications Shedding Light On Our Research Work.</div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <!-- <img src="https://img.freepik.com/premium-photo/stack-books-with-words-your-design-here_1115474-41041.jpg?w=740" alt="publication image" class="img-fluid"> -->
        <img src="	https://html.creativegigstf.com/sinco/images/assets/ils_13.svg" alt="publication image" class="img-fluid h-100">

      </div>
    </div>
    </div>
</div>
<section class="publications_cards">
  <div class="container">
    <div class="title text-center">Our Publications</div>
    <div class="row gy-4 gx-4">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <img src="https://image.shutterstock.com/image-photo/close-female-hand-holding-tablet-260nw-2078937682.jpg" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Frequency And Temporal Convolutional Attention For Text-Independent Speaker Recognition</div>
              <p>Majority Of The Recent Approaches For Text S. Yadav And A. Rai, Accepted For Presentation At ICASSP 2020</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <img src="https://img.freepik.com/premium-photo/meta-retail-concept-collage_23-2151310810.jpg?w=740" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Diversity In Fashion Recommendation Using Semantic Parsing</div>
              <p>Developing Recommendation System For Fashion Images Is Challenging Due To The Inherent…

                S. Verma, S. Anand, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/insigts-and-resorces/Diversity-In-Fashion.png" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Exploiting Texture Cues For Clothing Parsing In Fashion Images</div>
              <p>Exploiting The Texture For Recognizing The Clothing Type…

                T. Khurana, K. Mahajan, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <img src="https://img.freepik.com/premium-photo/voice-assistant-concept-with-male-hands-typing-keyboard_220873-13092.jpg?w=826" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Learning Discriminative Features For Speaker Identification And Verification</div>
              <p>The Success Of Any Text Independent Speaker Identification And/Or Verification System…

                T. Khurana, K. Mahajan, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <img src="https://img.freepik.com/premium-photo/rparobotic-process-automation-business-technology_220873-15212.jpg?w=900" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Diversity In Fashion Recommendation Using Semantic Parsing</div>
              <p>Developing Recommendation System For Fashion Images Is Challenging Due To The Inherent…

                S. Verma, S. Anand, C. Arora, And A. Rai, Proc. ICIP 2018, IEEE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape shape-one"></div>
  </div>
</section>
<section class="our_patents">
  <div class="container">
    <div class="title text-center">Our Patents</div>
    <div class="row gy-4 gx-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <img src="https://aikernel.shauryatechnosoft.com/assets/images/insigts-and-resorces/staqu.png" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Large Scale Image Retrieval Based On Image And Sketch Based Queries</div>
              <p><span class="text-main text-decoration-underline">AIKERNEL</span> TECHNOLOGIES PVT LIMITED</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <img src="https://image.shutterstock.com/image-photo/close-female-hand-holding-tablet-260nw-2078937682.jpg" alt="" class="img-fluid">
            <a routerLink="aboutus" class="arrow_icon"><i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="card-body">
            <small class="d-flex align-items-center gap-2"><i class="fa-regular fa-calendar"></i>25 Apr 2024</small>
            <div class="d-flex flex-column gap-4">
              <div class="card_title">Large Scale Image Retrieval Based On Image And Sketch Based Queries</div>
              <p><span class="text-main">AIKERNEL</span> TECHNOLOGIES PVT LIMITED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape shape-two"></div>
  </div>
</section>
