<section class="footer" id="footer">
  <div class="container-fluid">
    <div class="">
      <img src="https://bariton-react.envytheme.com/images/circle-map.png" alt="" class="globe_shape_img">
    </div>
    <div class="top_animation_img">
      <img src="https://bariton-react.envytheme.com/images/home-six/banner/shape-1.png" alt="" class="img-fluid">
    </div>
    <div class="row gx-2">
      <div class="col-sm-3 line_aniamtion">
        <div class="d-flex flex-column gap-0  first_column h-100">
          <div class="d-flex gap-2 logo">
            <img src="" alt="">
            <a >AI Kernel</a>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
          </p>
          <div class="d-flex gap-2 social_media">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
           <a href=""> <i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 line_aniamtion">
        <div class="categories  second_column h-100">
          <div class="title">Categories</div>
          <ul class="list-unstyled">
            <li> <a href="">Home</a></li>
            <li> <a href="">Products</a></li>
            <li> <a href="">Integrations</a></li>
            <li> <a href="">Pricing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3 line_aniamtion">
        <div class="quick_links third_column">
          <div class="title">Quick Links</div>
          <ul class="list-unstyled">
            <li> <a href="">Blog</a></li>
            <li> <a href="">Help</a></li>
            <li> <a href="">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="address px-0">
          <div class="title px-0">Address</div>
          <div class="d-flex gap-3">
            <i class="fa-solid fa-location-dot pt-1"></i>
            <p>
              7th Floor, Cybernex, 399, <br> Shankar Sheth Rd,<br> Swargate, Pune, Maharashtra 411037.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="copyrights">
    <div class="d-lg-flex align-items-center justify-content-between">
      <div>2023 Created by Shaurya Technosoft Pvt. Ltd.</div>
      <div class="d-flex">
        <div>Privacy Policy - </div>
        <div>Terms & Conditions</div>
      </div>
    </div>
  </div>
</section>

