<div class="container-fluid p-0" id="banner_section">
  <div class="container h-100" id="banner_section">
    <div class="row">
      <div class="col-sm-6">
        <div class="d-flex flex-column align-items-center justify-content-center w-100 h-100">
          <div class="banner_title"> Success Stories</div>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Success Stories</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="https://bariton-react.envytheme.com/images/services-img1.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<section class="success_stories">
  <div class="container">
    <div class="text-center mb-4">

      <h2>Success Stories</h2>
      <small>
        Explore How AI Kernel Has Helped Its Clients Achieve Their Vision Of Digital Innovation.
      </small>
    </div>
    <div class="row justify-content-between justify-content-center digital_innovation_sectors">
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center gap-3 ">
          <img src="https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Manufacturing.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column gap-4 align-items-center gap-3 ">
          <img src="	https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Retail.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center gap-3 ">
          <img src="https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Infrastructure.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center gap-3 ">
          <img src="https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Hospitality.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center gap-3 ">
          <img src="https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Public%20Sector.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="d-flex flex-column align-items-center gap-3 ">
          <img src="https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Manufacturing.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex flex-column align-items-center gap-3 ">
          <img src="https://aikernel.shauryatechnosoft.com/assets/images/success_stories/Smart%20Cities.svg" alt="">
          <small>All Industries</small>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="customer_success">
  <div class="container">
    <div class="text-center pb-3">
      <div class="d-flex align-items-center gap-2 justify-content-center">
        <div class="icon">
          <img src="https://html.creativegigstf.com/sinco/images/icon/icon_15.svg" alt="">
        </div>
        <h2 class="title">Success Stories of Customers</h2>
      </div>
      <p>Here’s How AI Kernel Delivers Customer Success</p>
    </div>
    <div class="row my-5">
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="img-fluid w-100"></iframe>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="img-fluid w-100"></iframe>
      </div>
      <div class="col-sm-4">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="img-fluid w-100"></iframe>
      </div>
    </div>
  </div>
</section>
