<!-- <div class="topbar">
  <div class="d-flex align-items-center justify-content-between">
    <div class="left_side_content">
      <div class="welcome_text">
        <span> Welcome to Ai Kernel. Need Help ?</span>
        <a href="">Contact Us</a>
      </div>
    </div>
    <div class="right_side_content">
      <div class="d-flex gap-2">
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>
          <span>275 Victoria Street, India</span>
        </div>
        <div class="phone_call">
          <i class="fa-solid fa-phone"></i>
          <span>+91 875 154756</span>
        </div>
        <div class="mail">
          <i class="fa-solid fa-envelope"></i>
          <span>275 Victoria Street, India</span>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="menubar shadow-sm">
  <nav class="navbar navbar-expand-lg bg-body-tertiary align-items-center">
    <div class="container-fluid">
      <a class="navbar-brand heading" href="#">AI Kernel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Explore Charlie
              </a>
              <ul class="dropdown-menu slide-in-bottom">
                <li><a class="dropdown-item" routerLink="what-is-charlie">What is Charlie</a></li>
                <li><a class="dropdown-item" routerLink="covid-19-solutions">Covid-19 Solutions</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Industries We Serve
              </a>
              <ul class="dropdown-menu slide-in-bottom">
                <li><a class="dropdown-item" routerLink="retail">Retail</a></li>
                <li><a class="dropdown-item" routerLink="manufacturing">Manufacturing</a></li>
                <li><a class="dropdown-item" routerLink="infrastructure">Infrastructure</a></li>
                <li><a class="dropdown-item" routerLink="hospitality">Hospitality</a></li>
                <li><a class="dropdown-item" routerLink="smart-city">Smart City</a></li>
                <li><a class="dropdown-item" routerLink="#">Public Sector</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Resources
              </a>
              <ul class="dropdown-menu slide-in-bottom">
                <li><a class="dropdown-item" routerLink="insights_resources">Insights & Resources</a></li>
                <li><a class="dropdown-item" routerLink="publications">Publications</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="success-stories">Success Stories</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
               Company
              </a>
              <ul class="dropdown-menu slide-in-bottom">
                <li><a class="dropdown-item" routerLink="aboutus">About Us</a></li>
                <li><a class="dropdown-item" routerLink="careers-cultures">Careers & Culture</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="contact-us">Contact</a>
          </li>
          <!-- <li class="nav-item">
            <div class="cart position-relative">
              <i class="fa-solid fa-cart-shopping"></i>
              <span class="position-absolute translate-middle border border-light rounded-circle cart_count">
                <span class="visually">1</span>
              </span>
            </div>
          </li>
          <li class="nav-item">
            <div class="searchbar">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </li> -->
        </ul>
        <button class="btn-main">Schedule a Demo</button>

      </div>
    </div>
  </nav>
</div>
