<div class="container-fluid" id="hospitality_banner">
    <div class="container">
        <div class="row align-items-center gy-5">
            <div class="col-sm-6 order-2 order-lg-0">
                <div class="d-flex flex-column">
                    <h2 class="title">
                        Artificial Intelligence For
                        <span class="text-main text-decoration-underline">Public Sector</span>
                    </h2>
                    <p>
                        We help the public sector, including government agencies such as
            the Army, Police, Prisons, and more, to create a transparent, data-centric
            culture using our video analytics solution.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="right_side_img position-relative">
                    <img src="https://html.creativegigstf.com/sinco/images/assets/ils_12_1.svg" alt="" class="img-fluid square_shape_img">
                    <img src="https://html.creativegigstf.com/sinco/images/assets/ils_12_1.svg" alt="" class="img-fluid square_shape_img2">
                    <img src="https://img.freepik.com/premium-photo/man-is-standing-front-tablet-with-word-business-it_745528-12300.jpg?w=740" alt="" class="img-fluid software_img">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="infrastructure_intelligence">
    <div class="container">
        <h2 class="text-center title my-5 py-4">
            Key Features Of Our Artificial Intelligence for
            <span class="text-main text-decoration-underline px-2">Public Sector</span>
        </h2>
        <div class="row gy-5">
            <div class="col-sm-4">
                <div class="card p-0 border-0 ">
                    <div class="card-header border-0 p-0 overflow-hidden">
                        <a href="">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <img src="https://img.freepik.com/premium-vector/man-standing-front-sign-that-saysthe-companyon-it_617764-326.jpg?w=740" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="title">Violence Detection</h6>
                        <p>
                            Help law enforcement organizations in tracking any incident of violence within any specific area. A real-time identification of such an occurrence can assist the Police in mobilizing personnel to contain any potential dangers to human life and property and to prevent any further escalation of the event.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card p-0 border-0 ">
                    <div class="card-header border-0 p-0 overflow-hidden">
                        <a href="">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <img src="https://img.freepik.com/premium-photo/vector-corporate-gender-distribution-statistics_837074-5196.jpg?w=740" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="title">Automatic Number Plate Recognition</h6>
                        <p>
                          Identify vehicles’ number plates automatically to improve security & manage vehicle access to government premises. Help analyze end users of Charlie to tag a vehicle of interest, to identify their routes, last location, etc., through existing infrastructure such as CCTV cameras.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card p-0 border-0 ">
                    <div class="card-header border-0 p-0 overflow-hidden">
                        <a href="">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <img src="https://img.freepik.com/premium-vector/business-analytics-concept-business-finance-marketing-analytics_253334-2125.jpg?w=740" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <h6 class="title">Crowd Detection</h6>
                        <p>
                          Avoid potential threats in any location by analyzing video feeds through our AI- powered video management system and receive real-time alerts for the same. During the time of any potential protest building up at any location, get situational awareness in real-time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="charlie_in_artificial_intelligence">
    <div class="container">
        <div class="text-center my-5">
            <h2 class="title">
              Why use Charlie for Artificial Intelligence for
                <span class="text-main text-decoration-underline">Public Sector</span>
            </h2>
        </div>
        <div class="row gy-4 my-4 py-4">
            <div class="col-sm-4">
                <div class="card border-0 ">
                    <div class="card-header border-0">
                        <div class="d-flex flex-column gap-3">
                            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
                            <h6 class="title">Digitize your public services</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                          By replacing paper and pencil and outdated systems, Charlie can assist you in automating 98% of your human processes and saving up to 40% of the costs involved. On activities like manual CCTV video surveillance and related services, you'll be able to recover valuable time and resources, and the public sector will gain from the availability of services around-the-clock.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 ">
                    <div class="card-header border-0">
                        <div class="d-flex flex-column gap-3">
                            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
                            <h6 class="title">Optimize and automate processes</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                          Digitally transform operations, services, internal communications, and engagement with citizens by replacing critical manual processes with automated workflows, transparent information exchange, centralized command centers, etc.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 ">
                    <div class="card-header border-0">
                        <div class="d-flex flex-column gap-3">
                            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
                            <h6 class="title">Create a frictionless agency</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                          Instead of relying solely on statistics, you can observe the wider picture offered by data insights in real-time by integrating CHARLIE video analytics solution at the center of your government agency. This ultimately means that you may accomplish your policy objectives far more quickly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 ">
                    <div class="card-header border-0">
                        <div class="d-flex flex-column gap-3">
                            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
                            <h6 class="title">Unify and maximize your data</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                          We’ll help you utilize your big data with our video analytics solution and provide robust government software solutions that turn insights into smarter planning and strategy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 h-100 ">
                    <div class="card-header border-0">
                        <div class="d-flex flex-column gap-3">
                            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
                            <h6 class="title">Capitalize on new trends & opportunities</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                          Utilizing cutting-edge technical innovation in the public sector, like artificial intelligence, video and audio data analytics, etc., provide quick and efficient public service.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 h-100 ">
                    <div class="card-header border-0">
                        <div class="d-flex flex-column gap-3">
                            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_31.svg" alt="" class="img-fluid">
                            <h6 class="title">Maximize value chain and optimize costs</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                          Maximize value addition in public sector services through technological advancements. We help government agencies better serve the citizens while lowering administrative costs and optimizing spending.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="impact_of_infrastructure_intelligence">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 order-2 order-lg-0">
                <div class="impact_of_AI_title">
                    Impact of Artificial Intelligence for
                    <br>
                    <span class="text-main text-decoration-underline"> Public Sector</span>
                </div>
                <ol class="list-unstyled">
                    <li>
                        <div class="card card-body border-0 ">
                            <div class="row align-items-lg-center gap-4">
                                <div class="col-3 col-sm-2 counter">1</div>
                                <div class="col-9 col-sm content">
                                    Streamline SOPs and improve production line efficiency by up to 45%.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card card-body border-0 ">
                            <div class="row align-items-lg-center gap-4">
                                <div class="col-3 col-sm-2 counter">2</div>
                                <div class="col-9 col-sm content">
                                    Ensure adherence to safety compliances with real-time alerting
                  mechanism,
                  hence reducing auditing costs by up to 17%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card card-body border-0 ">
                            <div class="row align-items-lg-center gap-4">
                                <div class="col-3 col-sm-2 counter">3</div>
                                <div class="col-9 col-sm content">Loss prevention through theft, pilferage, etc., by up to 40%.</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card card-body border-0 ">
                            <div class="row align-items-lg-center gap-4">
                                <div class="col-3 col-sm-2 counter">4</div>
                                <div class="col-9 col-sm content">
                                    Track vehicular movements using Automatic Number Plate Recognition
                  (ANPR)
                  and generate data metrics like Vehicle Turnaround Time, Parking Analysis, etc.
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="col-sm-6">
                <img src="https://img.freepik.com/premium-vector/engineer-hand-using-tablet-heavy-automation-robot-arm-machine-smart-factory-artificial-intelligence-industry-4th-iot-concept_126283-2050.jpg?" alt="" class="img-fluid w-100 ">
            </div>
        </div>
    </div>
</section>
<section class="clients">
    <div class="container">
        <div class="words_from_clients_title text-center">
            Words from
            <span class="text-main text-decoration-underline">Client</span>
        </div>
        <div class="text-center">
            <img src="https://html.creativegigstf.com/sinco/images/icon/icon_34.svg" alt="" class="quotation_mark_img">
            <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="top_left_img">
        </div>
        <div id="carouselExampleIndicators" class="carousel carousel-fade">
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="text-center clients_feedback">
                        <div class="d-lg-flex align-items-center gap-2">
                            <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid left_side_img">
                            <div class="card card-body border-0">
                                <p>
                                    We have already closed 10-12 features and we are looking for 25 more. AI Kernel has made our process more fluid, safe and efficient.
                                </p>
                            </div>
                            <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid right_side_img">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="text-center clients_feedback">
                        <div class="d-lg-flex align-items-center gap-2">
                            <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid left_side_img">
                            <div class="card card-body border-0">
                                <p>
                                    Having a home based business is a wonderful asset to your life. The problem still stands it comes
                  timeadvertise your business for a cheap cost. I know you have looked answer everywhere.
                                </p>
                            </div>
                            <img src="https://html.creativegigstf.com/sinco/images/media/img_10.jpg" alt="" class="img-fluid right_side_img">
                        </div>
                    </div>
                </div>
            </div>
            <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
            >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<section class="success_stories">
    <div class="container">
        <h2 class="text-center title my-4 py-4">SUCCESS STORIES</h2>
        <div class="row gy-5">
            <div class="col-sm-4">
                <div class="card border-0 p-0 overflow-hidden">
                    <div class="card-header border-0 p-0 overflow-hidden">
                        <a href="">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <img src="https://img.freepik.com/free-photo/japanese-subway-system-passenger-information-display-screen_23-2148954894.jpg?t=st=1714368628~exp=1714372228~hmac=ee7300185f777eb03be50299a2d1d94c49e6919ba20c85b2704a6d264423e158&" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="card_title">Metro Brands</div>
                            <p>
                                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your
                Business With The Latest Artificial Intelligence Developments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 p-0 overflow-hidden">
                    <div class="card-header border-0 p-0 overflow-hidden">
                        <a href="">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <img src="https://img.freepik.com/free-photo/japanese-subway-system-passenger-information-display-screen_23-2148954894.jpg?t=st=1714368628~exp=1714372228~hmac=ee7300185f777eb03be50299a2d1d94c49e6919ba20c85b2704a6d264423e158&" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="card_title">JK Cements</div>
                            <p>
                                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your
                Business With The Latest Artificial Intelligence Developments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0 p-0 overflow-hidden">
                    <div class="card-header border-0 p-0 overflow-hidden">
                        <a href="">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <img src="https://img.freepik.com/free-photo/japanese-subway-system-passenger-information-display-screen_23-2148954894.jpg?t=st=1714368628~exp=1714372228~hmac=ee7300185f777eb03be50299a2d1d94c49e6919ba20c85b2704a6d264423e158&" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <div class="card_title">JK Cements</div>
                            <p>
                                Transform Your Legacy Technology With AI-Enabled Processes. Witness An Imagina- ble Improvement In Your
                Business With The Latest Artificial Intelligence Developments.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contactus">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://img.freepik.com/free-photo/robot-with-phone_1048-4566.jpg?t=st=1714395653~exp=1714399253~hmac=5c96cdbb4e2cb16ea0df4db85ea1f3d1c2be69a7eec7664984028381cca7ae2f&w=740" alt="demo imag" class="img-fluid">
            </div>
            <div class="col-sm-6">
                <div class="d-flex flex-column gap-4">
                    <span>CONNECT WITH US</span>
                    <div class="title">
                      Employ artificial intelligence for public sector now!
                    </div>
                    <button class="btn-main">Contact US</button>
                </div>
            </div>
        </div>
    </div>
</section>
