section{
  padding: 100px 0;
}
#insights_banner {
  height: 80vh;
  padding: 0;
  width: 100%;
}
#insights_banner .title{
  font-size: 4rem;
}
#insights_banner ol li a{
  text-decoration: none;
  color: #010d4c;
  font-size: 0.85rem;
}
#insights_banner .right_side_img {
  position: relative;
}
#insights_banner .right_side_img img.top_img{
  position: absolute;
  top: 5%;
  left: 0;
  background-color: #fff;
  animation: rotateimg 5s infinite both;
}
@keyframes  rotateimg {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);

  }
}

.category_content_cards img{
  height: 200px;
}
.category_content_cards .card{
  padding: 0 !important;
  border: 0;
  transition: 0.3s all ease-in-out;

}
.category_content_cards .card:hover{
  margin-top: -10px;
  box-shadow: var(--bs-box-shadow) !important;
  transition: 0.3s all ease-in-out;
}
.category_content_cards .card img{
  border-radius: 0 !important;
}
// staq_newsletter
.staq_newsletter .newsletter_title{
  font-size: 4rem;
  color: #01013c;
  font-family: "Calistoga", serif;
}
.form-control:focus{
  box-shadow: none !important;
}

@media only screen and (max-width:479px){
  section{
    padding: 50px 0;
  }
  #insights_banner .title,
  .staq_newsletter .newsletter_title{
    font-size: 2rem;
  }
  .main_image{
    width: 300px;
  }
}
