<div class="container-fluid" id="insights_banner">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-6 order-2 order-lg-0">
        <div class="d-flex flex-column  justify-content-center h-100">
          <div class="title">Insights & <span class="text-main text-decoration-underline">Resources</span></div>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Insights & Resources</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="right_side_img">
          <img src="https://bariton-react.envytheme.com/images/home-seven/about/vector.png" alt=""
            class="img-fluid top_img">
          <div class="text-center">
            <img
              src="https://img.freepik.com/premium-vector/artificial-intelligence-illustration-ai-creative-design-vector-illustration_541075-747.jpg?w=740"
              alt="" class="img-fluid main_image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="category_content_cards">
  <div class="container">
    <div class="text-center my-5">
      <h2 class="title">Category & Cotent Type</h2>
    </div>
    <div class="row gy-4">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header border-0 p-0">
            <img
              src="https://img.freepik.com/premium-photo/ai-tech-businessman-show-virtual-graphic-global-internet-connect-chatgpt-chat-with-ai-generated_874439-4758.jpg?"
              alt="" class="img-fluid w-100">
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <p>Dikshita Phukon</p>
              <p>05 April 2023</p>
            </div>
            <div class="d-flex flex-column gap-3">
              <div class="title"> Enhancing Customer Experience </div>
              <p>
                A Satisfactory Customer Experience In Brick
                -And-Mortar Retail Is An Important Factor
                That Retailers Must Consider For
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header border-0 p-0">
            <img src="https://img.freepik.com/premium-photo/white-electronic-device-display-front-building_397134-17674.jpg?w=826"
              alt="" class="img-fluid w-100">
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <p>Dikshita Phukon</p>
              <p>05 April 2023</p>
            </div>
            <div class="d-flex flex-column gap-3">
              <div class="title">The Game-Changing Retail</div>
              <p>
                A Satisfactory Customer Experience In Brick
                -And-Mortar Retail Is An Important Factor
                That Retailers Must Consider For
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header border-0 p-0">
            <img src="https://img.freepik.com/premium-photo/online-voting-with-voting-e-ballot-electronic-voting-technology-concept_99433-4795.jpg?w=740"
              alt="" class="img-fluid w-100">
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <p>Dikshita Phukon</p>
              <p>05 April 2023</p>
            </div>
            <div class="d-flex flex-column gap-3">
              <div class="title">Free And Fair Electoral</div>
              <p>
                A Satisfactory Customer Experience In Brick
                -And-Mortar Retail Is An Important Factor
                That Retailers Must Consider For
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header border-0 p-0">
            <img src="https://img.freepik.com/premium-photo/mechanized-industry-robot-human-worker-working-together-future-factory_31965-19737.jpg?w=740"
              alt="" class="img-fluid w-100">
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between w-100">
              <p>Dikshita Phukon</p>
              <p>05 April 2023</p>
            </div>
            <div class="d-flex flex-column gap-3">
              <div class="title">How CHARLIE Intrigued Industries</div>
              <p>
                A Satisfactory Customer Experience In Brick
                -And-Mortar Retail Is An Important Factor
                That Retailers Must Consider For
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="staq_newsletter">
  <div class="container">
    <div class="row gy-4">
      <div class="col-sm-6">
        <div class="newsletter_title">Subscribe Via <span class="text-main text-decoration-underline">Email</span></div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex flex-column gap-4">
          <div class="d-flex gap-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <button class="btn-main rounded">Subscribe</button>
          </div>
          <div class="d-flex align-items-start gap-2">
            <input type="checkbox" class="mt-1">
            <p class="mb-0">
              We're committed to your privacy. Staqu uses the information you provide to us to contact you
              about our relevant content, products, and services. You may unsubscribe from these
              communications at any time. For more information, check out our Privacy Policy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
